@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body {
    background: lightsteelblue;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    font-family: 'Kalam', cursive;
    text-align: center;
    text-shadow: 4px 4px 6px white;
  }

.card {
  border: none;
}

footer {
    padding: 10px;
    text-align: center;
  }
