body {
    background: darkgrey;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    text-shadow: 4px 4px 6px white;
  }

.card {
  border: none;
}

footer {
    text-align: center;
  }
